<!-- Vista de Creación/Edición de Página Completa -->
<app-create-template-addendum
  *ngIf="showCreateOrEditPage()"
  [templateId]="selectedAddendumTemplateId()"
  (onBack)="hideCreateOrEditPage($event)"
></app-create-template-addendum>

<!-- Vista de Lista Principal -->
<div *ngIf="!showCreateOrEditPage()" class="flex h-full flex-col">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <!-- Header -->
  <div class="flex justify-between items-center">
    <h1 class="text-lg font-medium">Gestión de Plantillas de Adenda</h1>
    <button pButton type="button" label="Crear" icon="pi pi-plus" class="p-button-success h-10" (click)="showCreatePage()"></button>
  </div>

  <!-- Tabla -->
  <div class="flex-1 min-h-0">
    <div class="card flex-1 h-full overflow-hidden">
      <p-table #dt1
               [value]="addendumTemplates().addendumTemplates"
               dataKey="publicId"
               [rows]="10"
               [rowsPerPageOptions]="[10, 25, 50]"
               [loading]="addendumTemplates().loading"
               [paginator]="true"
               [lazy]="true"
               (onLazyLoad)="loadAddendumTemplates($event)"
               [totalRecords]="totalRecords()"
               [first]="0"
               showGridlines
               [scrollable]="true"
               scrollHeight="flex">

        <ng-template pTemplate="caption">
          <div class="flex gap-2">
            <p-select [options]="addendumTypes()" placeholder="Filtrar por tipo de adenda" optionLabel="name" optionValue="publicId" [showClear]="true" (onChange)="onFilterByType($event.value)" styleClass="w-full md:w-1/4"></p-select>
            <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon>
                <i class="pi pi-search"></i>
              </p-inputicon>
              <input pInputText type="text" (input)="onSearch($event)" placeholder="Buscar por nombre" class="text-sm"/>
            </p-iconfield>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="min-width:10rem" pSortableColumn="code" class="text-sm">Código <p-sortIcon field="code"></p-sortIcon></th>
            <th style="min-width:15rem" pSortableColumn="name" class="text-sm">Nombre <p-sortIcon field="name"></p-sortIcon></th>
            <th style="min-width:15rem" pSortableColumn="addendumTypeName" class="text-sm">Tipo de Adenda <p-sortIcon field="addendumTypeName"></p-sortIcon></th>
            <th style="min-width:10rem" pSortableColumn="stateName" class="text-sm">Estado <p-sortIcon field="stateName"></p-sortIcon></th>
            <th style="min-width:15rem" pSortableColumn="createdAt" class="text-sm">Fecha de Creación <p-sortIcon field="createdAt"></p-sortIcon></th>
            <th style="width: 8rem" class="text-sm">Acciones</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-template>
          <tr>
            <td class="text-sm px-3">{{ template.code }}</td>
            <td class="text-sm px-3">{{ template.name }}</td>
            <td class="text-sm px-3">{{ template.addendumTypeName }}</td>
            <td class="text-sm px-3">{{ template.stateName }}</td>
            <td class="text-sm px-3">{{ template.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>
              <div class="flex justify-center gap-2">
                <button pButton type="button" icon="pi pi-eye" class="p-button-info h-8 w-8"></button>
                <button pButton type="button" icon="pi pi-pencil" class="p-button-warning h-8 w-8" (click)="showEditPage(template)"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger h-8 w-8" (click)="confirmDelete(template)"></button>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr class="">
            <td colspan="6" class="text-center text-sm p-4">No se encontraron plantillas de adenda.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
