::ng-deep .p-datatable tbody > tr {
  height: 48px;
}

::ng-deep .p-datatable tbody > tr > td {
  height: 48px;
  vertical-align: middle;
}

.employee-name-cell {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

