<div class="flex h-full flex-col">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <div class="flex justify-between align-items-center mb-4">
    <h2 class="text-lg font-semibold">Responsables de Firma</h2>
  </div>

  <div class="flex-1 min-h-0">
    <div class="card flex-1 h-full overflow-hidden">
      <p-table
        [value]="subsidiaries()"
        [lazy]="true"
        (onLazyLoad)="loadSubsidiaries($event)"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords()"
        [loading]="loading()"
        [rowsPerPageOptions]="[10, 25, 50]"
        dataKey="subsidiaryPublicId"
        [tableStyle]="{'min-width': '50rem'}"
        showGridlines
        [scrollable]="true"
        scrollHeight="flex"
      >
        <ng-template pTemplate="caption">
          <div class="flex p-0 justify-end">
            <p-inputgroup class="max-w-sm">
              <p-inputgroup-addon>
                <i class="pi pi-search"></i>
              </p-inputgroup-addon>
              <input 
                pInputText 
                type="text" 
                [value]="store.filters().subsidiaryName" 
                (input)="onSearch($event)" 
                placeholder="Buscar por fundo" 
                class="text-sm"
              />
              <p-inputgroup-addon>
                <p-button icon="pi pi-times" severity="secondary" (click)="store.clearSearch()"></p-button>
              </p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="subsidiaryName" style="min-width:15rem" class="text-sm">
              Fundo <p-sortIcon field="subsidiaryName"></p-sortIcon>
            </th>
            <th pSortableColumn="responsibleEmployeeName" style="min-width:15rem" class="text-sm">
              Responsable <p-sortIcon field="responsibleEmployeeName"></p-sortIcon>
            </th>
            <th pSortableColumn="responsiblePosition" style="min-width:15rem" class="text-sm">
              Cargo <p-sortIcon field="responsiblePosition"></p-sortIcon>
            </th>
            <th style="min-width:10rem" class="text-sm">Firma</th>
            <th style="width: 12rem" class="text-sm">Acciones</th>
          </tr>
        </ng-template>
    <ng-template pTemplate="body" let-subsidiary>
      <tr>
        <td>{{ subsidiary.subsidiaryName }}</td>
        <td>
          @if (subsidiary.hasSigner) {
            <div class="flex flex-col">
              <span class="font-semibold">{{ subsidiary.responsibleEmployeeName }}</span>
              <span class="text-sm text-gray-500">{{ subsidiary.responsibleEmployeeDocumentNumber }}</span>
            </div>
          } @else {
            <span class="text-gray-400 italic">Sin asignar</span>
          }
        </td>
        <td>
          @if (subsidiary.hasSigner) {
            {{ subsidiary.responsiblePosition }}
          } @else {
            <span class="text-gray-400">-</span>
          }
        </td>
        <td>
          @if (subsidiary.hasSigner) {
            @if (getImageUrl(subsidiary)) {
              <img [src]="getImageUrl(subsidiary)!" alt="Firma" class="w-20 h-12 object-contain border border-gray-300 rounded" />
            } @else if (isImageLoading(subsidiary)) {
              <div class="w-20 h-12 flex items-center justify-center border border-gray-300 rounded bg-gray-100">
                <i class="pi pi-spin pi-spinner text-gray-400"></i>
              </div>
            } @else {
              <span class="text-gray-400">-</span>
            }
          } @else {
            <span class="text-gray-400">-</span>
          }
        </td>
        <td>
          <div class="flex justify-center gap-2">
            @if (subsidiary.hasSigner) {
              <button 
                pButton 
                type="button"
                icon="pi pi-pencil" 
                class="p-button-warning h-8 w-8" 
                (click)="showEditModal(subsidiary)"
                pTooltip="Editar"
              ></button>
              <button 
                pButton 
                type="button"
                icon="pi pi-trash" 
                class="p-button-danger h-8 w-8" 
                (click)="confirmDelete(subsidiary)"
                pTooltip="Eliminar"
              ></button>
            } @else {
              <button 
                pButton 
                type="button"
                icon="pi pi-user-plus" 
                class="p-button-primary h-8 w-8" 
                (click)="showAssignModal(subsidiary)"
                pTooltip="Asignar"
              ></button>
            }
          </div>
        </td>
      </tr>
    </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-center text-sm p-4">No se encontraron subsidiarias.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<app-assign-signer-create-modal
  [visible]="isAssignModalVisible()"
  [subsidiary]="selectedSubsidiary()"
  (onHide)="hideAssignModal()"
></app-assign-signer-create-modal>

<app-assign-signer-update-modal
  [visible]="isEditModalVisible()"
  [subsidiary]="selectedSubsidiary()"
  [signerPublicId]="selectedSignerPublicId()"
  (onHide)="hideAssignModal()"
></app-assign-signer-update-modal>

