@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@layer base, fonts, primeng-overrides;

@layer fonts {
  @font-face {
    font-family: 'AirbnbCereal';
    src: url('/fonts/AirbnbCereal/AirbnbCereal_W_Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'AirbnbCereal';
    src: url('/fonts/AirbnbCereal/AirbnbCereal_W_Bk.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'AirbnbCereal';
    src: url('/fonts/AirbnbCereal/AirbnbCereal_W_Md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'AirbnbCereal';
    src: url('/fonts/AirbnbCereal/AirbnbCereal_W_Bd.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'AirbnbCereal';
    src: url('/fonts/AirbnbCereal/AirbnbCereal_W_XBd.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'AirbnbCereal';
    src: url('/fonts/AirbnbCereal/AirbnbCereal_W_Blk.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
}

@layer base {
  :root {
    --font-family-primary: 'AirbnbCereal', system-ui, -apple-system, sans-serif;
    --font-weight-base: 400;
  }

  * {
    font-family: var(--font-family-primary), Arial, sans-serif;
    font-weight: var(--font-weight-base);

  }

  html {
    scroll-behavior: smooth;
  }

  a {
    height: 40px;
  }

  span {
    font-size: 14px;
  }
}

@layer primeng-overrides {
  .p-datatable-header {
    background: transparent;
    border-width: 0;
  }
  .p-datatable-thead > tr > th{
    padding: 0.75rem 0.5rem ;
    height: 48px;

  }
  .p-datatable-flex-scrollable > .p-datatable-table-container{
    background-color: white;
  }
  .p-datatable-tbody > tr {
    height: 48px;
  }
  .p-datatable-tbody > tr > td{
    padding: 0 0.5rem;
  }
  .p-paginator{
    margin: 0.2rem 0 0 0;
  }
  .p-inputtext{
    width: 100%;
    background-color: white !important;
  }


}
